<form action="http://localhost:3000/session" method="post">
  <label for="username">Username</label>
  <input type="text" name="session[username]" id="username">
  <label for="password">Password</label>
  <input type="password" name="session[password]" id="password">
  <input type="submit" value="login">
</form>